{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'Cal:calendar' %}"> Cofnij </a>
            <a class="btn btn-info right mr-2" href="#"> Modyfikuj wydarzenie </a>
        </div>
        
        <div class="clearfix">
            <h3>Nazwa wydarzenia: {{ event.title }}</h3>
            <p>Od <span style="color: gray;">{{ event.start_time }}</span> Do <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <p>{{ event.description }}</p>
        </div>
        <hr>

        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Imię</th>
                  <th>Użytkownik</th>
                  <th>E-mail</th>
                  <th>Akcja</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}