{% extends 'base_ex.html' %}

{% block title %}
Wydarzenie
{% endblock %}

{% block content %}

  <div class="clearfix">
    <a class="btn btn-danger left" href="{% url 'Cal:calendar' %}"> Anuluj </a>
  </div>
  <h1 style="text-align: center; font-size: 2em;">Wprowadzanie/Edycja wydarzenia</h1>
  <div>
  <form method="post">
    {% csrf_token %}
    <table class="form form-table">
      {{ form }}
    </table>
    <br/><br/>
    <button type="submit" class="btn btn-success right"> Zapisz </button>
  </form>
    </div>
  <div class="clearfix">

  </div>

{% endblock %}