{% extends 'base_det.html' %}

{% block title %}
Szczegóły wydarzenia
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'Cal:calendar' %}"> Cofnij </a>
            <a class="btn btn-info right mr-2" href="{% url 'Cal:event_edit' event.pk %}"> Modyfikuj wydarzenie </a>
        </div>
        
        <div class="clearfix">
            <h3>Nazwa wydarzenia: {{ event.title }}</h3>
            <p>Od <span style="color: gray;">{{ event.start_time }}</span> Do <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <p>{{ event.event_text}}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Członkowie wydarzenia</h4>
            <a class="btn btn-success right" href="{% url 'Cal:add_eventmember' event.id %}"> Dodaj członka </a>
        </div>

        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">Lp.</th>
                  <th>Użytkownik</th>
                  <th>Dane personalne</th>
                  <th>E-Mail</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'Cal:rem_event' member.id %}">Usuń</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}